form {
    min-width: 600px;
    height: 500px;
    padding: 1rem;
    position: relative;
    background: rgba(0, 0, 0, 0.1);

    h3 {
        margin-block: 1rem;
    }

    .file-input {
        margin-bottom: 4rem;

        .fileInput {
            opacity: 0;
            width: 0.01px;
            height: 0.01px;
            position: absolute;
        }

        .label {
            position: relative;
            width: 200px;
            padding-block: 1rem;
            border-radius: 25px;
            background: linear-gradient(40deg, #ff6ec4, #7873f5);
            box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: transform .2s ease-out;
        }

        p.file-name {
            position: absolute;
            right: 1rem;
            top: 4rem;
            font-size: 1rem;
            color: #555;
            width: 330px;
            height: 100px;
            padding: 0.4rem;
            text-transform: capitalize;
            overflow: hidden;
        }
    }

    .collection_select {
        padding-block: 1rem;

        & > label {
            padding-inline-end: 1rem;
        }

        & > select {
            padding: 0.4rem 0.6rem;
        }
    }

    textarea {
        width: 100%;
        height: 150px;
        padding: 1rem;
        color: #555;
    }

    input[type='submit'] {
        text-transform: capitalize;
        padding: 0.7rem 2rem;
        background: linear-gradient(40deg, #ff6ec4, #7873f5);
        border: none;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
}