.navbar {
    z-index: 2;
    
    .navbar-brand img {
        width: auto;
        height: 80px;
    }

    .navbar-toggler {
        &:focus {
            box-shadow: none;
        }

        svg {
            color: $clr--gold-200;
            width: 40px;
            height: 40px;
        }
    }

    .navbar-collapse {
        padding-inline: 1rem;

        .navbar-nav .nav-link {
                color: #fff;

                &:last-child {
                    color: $clr--gold-400;
                    
                    &:hover {
                        color: $clr--blue-400;
                    }
                }

                &:hover {
                    color: $clr--gold-200;
                }
        }
    }

    @media(min-width: 48em) {
        .navbar-collapse {
            .navbar-nav {
                outline: 2px solid $clr--gold-400;
                
                .nav-link {
                    padding-inline: 0.8rem;
                    font-size: 0.9rem;

                    &:last-child {
                        background: $clr--gold-400;
                        color: #fff;
                    }
                }
            }
        }

    }
    
    @media(min-width: 64em) {
        .navbar-brand img {
            height: 100px;
        }
        
        .navbar-collapse {
            .navbar-nav .nav-link {
                    padding-inline: max(1rem, 1.5rem);
                    font-size: 1rem;
            }
        }
    }
}